<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638053178148-6dd99ik0asq1g9fek7bhvttb3gvp6j0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638053178148-6dd99ik0asq1g9fek7bhvttb3gvp6j0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCT75rHemFmX6ZICaavN9I4CZHiIxdKWg8</string>
	<key>GCM_SENDER_ID</key>
	<string>638053178148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.BeckerBeckerAndDoofus.WannaBetiOS</string>
	<key>PROJECT_ID</key>
	<string>wanna-bet-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wanna-bet-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638053178148:ios:b5d2afd7448f20fe38f1b1</string>
</dict>
</plist>